.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}
.home_img{
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}
.home_data{
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}
.home_title{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}

.home_description{
    line-height: 2.125;
    margin-block: 16px 32px;
}

.color_block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}
.shape_one{
    position: absolute;
    width: 100px;
    right: 20px;
    top: 10%;
}
.shape_two{
    position: absolute;
    width: 150px;
    right: 9%;
    bottom: 30px;
}

